<div class="results">
    {{#each items}}
    <div >
        <p><img id="album-image" src="{{images.1.url}}" onerror="this.onerror.null; src='https://videos.toromedia.com/client/assets/images/default-avatar-video-channel.png'" alt="{{name}}" ></p>
        <h4>{{name}}</h4>
        <a href="/tracks/{{id}}">View Tracks</a>  
    </div>
    {{/each}}
</div>