<li><a href="/">Home</a></li>
<h1>Artist Search Results:</h1>
    {{#each items}}
        <h2>name: {{ name }}</h2>
            {{#each images}}
                <p>image: <img src="{{url}}" alt="{{name}}"></p>
            {{/each}}
        <a href="/albums/{{id}}">View Artist Albums</a>
    {{/each}}