<li><a href="/">Home</a></li>
<div>
    {{#each items}}
        <h2>name: {{ name }}</h2>
            {{#each images}}
                <p>image: <img src="{{url}}" alt="{{name}}"></p>
            {{/each}}
        <a href="/albums/{{id}}">View Artist Albums</a>
    {{/each}}
</div>