<div>
    <h1>Title:</h1>
        {{#each items}}
            <p>{{name}}</p>
            <script>
                function play() {
                const audio = document.getElementById("audio");
                audio.play();
                }
                function pause() {
                const audio = document.getElementById("audio");
                audio.pause();
                }
            </script>
            <input type="button" value="PLAY" onclick="play()">
            <input type="button" value="PAUSE" onclick="pause()">
            <audio id="audio" src="{{preview_url}}"></audio>
        {{/each}}
</div>