<div class="song-list">
    <header>
        <p>Title</p>
        <p>Listen</p>
    </header>
    <ul>
        {{#each items}}
        <li>
            <p>{{name}}</p>
            <figure>
                <audio controls src={{preview_url}}>Your browser does not support<code>audio</code>elements</audio>
            </figure>
        </li>
        {{/each}}
    </ul>
</div>