<li><a href="/">Home</a></li>
<ul>
    {{#each items}}
    <li>
        <h3>{{name}}</h3>
        {{#if preview_url}}
            <figure>
                <figcaption>Play a preview!</figcaption>
                <audio controls src="{{preview_url}}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </figure>
        {{else}}
            <p>No audio track available, sorry</p>
        {{/if}}
    </li>
    {{/each}}
</ul>